#listing-banner {
   position: relative;
   padding: 0;

   .banner-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-white);
      text-align: center;
      width: 100%;
   }
}

#doctor-list {
   .filter {
      .select-field {
         width: 45%;
         position: relative;


         .default-select {
            border-radius: 50px;
            padding: 10px;
            border: 1px solid var(--color-main);
            cursor: pointer;
            position: relative;
            z-index: 100;
            color: #fff;
            background-color: var(--color-main);
            font-size: 14px;
            font-weight: 600;

            .anchor-down-btn {
               position: absolute;
               right: 6%;
               top: 50%;
               transform: translateY(-50%);
            }
         }

         .select-wrap {
            padding: 10px;
            padding-top: 50px;
            border-radius: 25px;
            background-color: #fff;
            display: none;
            overflow: hidden;
            overflow-y: auto;
            max-height: 240px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 0 3px 40px rgba(0, 0, 0, .14);
            z-index: 99;

            .select-list {
               list-style: none;
               margin: 0;
               padding: 0;

               li {
                  font-weight: 600;
                  padding: 10px 20px;
                  border-bottom: 1px solid var(--border-color-light);
                  font-size: 14px;
                  cursor: pointer;

                  &:last-child {
                     border-bottom: none;
                  }
               }
            }
         }

         .active {
            display: block;
         }
      }
   }

   .list {
      .doctor-card {
         background-color: #fff;
         box-shadow: 0 3px 17px rgba(0, 0, 0, .1);
         border-radius: 12px;
         position: relative;
         padding-bottom: 35px;
         margin-bottom: 30px;
         position: relative;

         .header {
            display: flex;
            padding: 20px;

            .doc-img {
               width: 100px;
               box-shadow: 0 4px 40px rgba(0, 0, 0, .1);
               height: 100px;
               border: 10px solid #fff;
               flex: 0 0 auto;
               border-radius: 50%;
               overflow: hidden;

               img {
                  border-radius: 50%;
                  width: 80px;
                  max-width: 100%;
                  height: auto;
                  aspect-ratio: auto 80 / 80;
               }
            }

            .doc-desc {
               width: calc(100% - 100px);
               padding-left: 20px;
               position: relative;
               font-size: 14px;

               button {
                  background-color: transparent;
                  outline: 0;
                  border: 0;
                  padding: 0;
                  position: absolute;
                  right: 0;
                  top: -7px;
                  cursor: pointer;
               }

               .heading-sm {
                  margin-bottom: 5px;
                  padding-right: 30px;

               }

               .post {
                  color: var(--color-grey);
                  font-weight: 400;
                  border-bottom: 1px solid var(--border-color-light);
                  padding-bottom: 15px;
                  margin-bottom: 15px;
                  position: relative;

                  &::after {
                     content: '';
                     background: var(--color-main);
                     height: 1px;
                     position: absolute;
                     left: 0;
                     bottom: 0;
                     width: 40px;
                  }
               }

               .doc-specialization {
                  margin-bottom: 8px;

                  span {
                     padding-right: 10px;
                  }

                  a {
                     color: var(--color-main);
                     display: inline-block;
                     font-weight: 600;
                     font-size: 90%;

                     &::before {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        margin-right: 10px;
                        background-color: #cbd1d3;
                        content: '';
                        display: inline-block;
                     }
                  }
               }
            }
         }

         .body {
            border-top: 1px solid #e1e1e1;
            padding: 20px;

            .tabs {
               color: var(--color-dark-grey);
               text-transform: uppercase;
               margin-bottom: 30px;
               font-size: 14px;
            }

            .tab {
               border: none;
               background-color: transparent;
               border-bottom: 3px solid transparent;
               padding-bottom: 5px;
               display: inline-block;
               margin-bottom: 5px;

               &.active {
                  color: var(--color-main);
                  border-color: var(--color-main);
               }
            }

            .tab-container {
               max-height: 220px;
               overflow: hidden;
               overflow-y: auto;
               padding-right: 5px;

               .tab-panel {
                  display: none;

                  &.active {
                     display: block;
                  }

                  ul {
                     padding: 0;
                     display: flex;
                     flex-wrap: wrap;
                     list-style: none;

                     li {
                        width: 50%;
                        margin-bottom: 10px;
                        padding: 0 10px;
                        font-size: 13px;
                        font-weight: 500;
                        display: flex;

                        span {
                           margin-right: 6px;
                        }
                     }
                  }
               }
            }
         }

         .meet-doc {
            margin: auto;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 160px;
            display: block;
            position: absolute;
            padding: 14px 18px;
            text-align: center;
            color: #fff;
            background-color: var(--color-main);
            font-size: 13px;
            border-radius: 35px;
            cursor: pointer;
            min-width: 150px;
            font-weight: 700;
            border: 0;
            outline: 0;
         }
      }
   }

   .pagination-container {
      .page-button {
         font-size: 16px;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 48px;
         height: 48px;
         border-radius: 50%;
         font-weight: 600;
         color: var(--color-grey);
         box-shadow: 0 3px 17px rgba(0, 0, 0, .1);
         border: none;
         background-color: var(--color-white);
      }

      .right-arrow,
      .left-arrow {
         padding: 0;
         background-color: transparent;
         color: var(--color-grey);
         box-shadow: none;
         border: none;

         &:disabled {
            opacity: .5;
            cursor: not-allowed;
         }
      }

      .active {
         background-color: var(--color-main);
         color: var(--color-white);
      }
   }
}