.hover-btn-link {
    transition: 0.2s ease-out;
    gap: 0.5rem;

    &:hover {
        .orange-right {
            transition: transform 0.2s ease-out;
            transform: translateX(5px);
        }

        color: var(--color-light-2);
    }

    .orange-right {
        background-color: var(--color-main);
        color: #fff;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        transition: transform 0.2s ease-out;
    }

}
