.life-here {
    padding: 50px 0;

    .main-container {
        .heading {
            padding-bottom: 30px;
            margin: 0;
        }
        .desktop {
            @media (max-width: 991px) {
                display: none !important;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 20px;
                transition: 0.2s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &>* {
                width: 25%;
                overflow: hidden;
                border-radius: 20px;
            }

            &>*:first-child,
            &>*:last-child {
                display: flex;
                align-items: center;

                .img-1 {
                    overflow: hidden;
                    border-radius: 20px;
                }
            }

            &>*:nth-child(3) {
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &>*:nth-child(2),
            &>*:nth-child(4) {
                .img-1 {
                    overflow: hidden;
                    margin-bottom: 16px;
                    border-radius: 20px;
                }

                .img-2 {
                    overflow: hidden;
                    border-radius: 20px;
                }
            }

        }

        .mobile {
            @media (min-width: 992px) {
                display: none !important;
            }

            .slick-prev {

                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 99;
            }

            .slick-next {
                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 99;
            }

            .image-card {
                height: auto;
                border-radius: 20px;
                margin:0 20px;
                overflow: hidden;
                img {
                    border-radius: 20px;
                    width: 100%;
                    transition: 0.2s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }
    }
}
