.not-sure {
    background-color: var(--secondary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 991px) {
        flex-direction: column;
        padding: 40px 0;
    }

    .banner-para {
        text-align: center;
        width: 40%;

        @media (max-width: 991px) {
            padding: 0 30px 20px;
            width: 100%;
        }

        .banner-title {
            font-weight: 700;
            color: var(--color-grey);
            margin-bottom: 20px;
        }

        p {
            font-weight: 400;
            color: var(--color-grey);

        }

        .resume {
            color: var(--color-white);
            background-color: var(--color-main);
            font-weight: 600;
            font-size: 14px;
            padding: 15px 20px;
            border-radius: 50px;
            transition: 0.2s ease;
            border: none;

            &:hover {
                background-color: var(--color-dark-1);
            }
        }
    }

    .banner-img {
        flex: 1;

        @media (max-width: 991px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
