.top-banner {
    padding-bottom: 50px;
    .main-container {
        position: relative;
        .slider {
            position: relative;

            .image-card {
                // max-height: 350px;
                height: auto !important;
                img {
                    width: 100%;
                }

            }

            .slick-dots {
                bottom: 25px;
                // z-index: 99;
                display: flex;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0;

                li {
                    button {
                        display: none;
                    }
                    &.slick-active {
                            color: var(--color-main);

                    }
                }

            }
        }

        .explore-btn {
            border: none;
            font-weight: 600;
            position: absolute;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.2s ease;
            font-size: 14px;
        }

    }
}
