.services {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-dark-grey);

    .main-container {

        .service-slider {
            padding: 18px 0;

            .each-card {
                .content {
                    font-size: 14px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    min-height: 60px;
                    margin-bottom: 10px;
                }
            }

            .slick-prev {

                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 99;
            }

            .slick-next {
                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 99;
            }

            .slide {
                background-color: var(--color-white);
                border-radius: 25px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }

                .body {
                    padding: 50px;
                    cursor: pointer;
                    text-align: left;

                    @media (max-width: 1299px) {
                        padding: 30px;
                    }

                    // @media (max-width: 480px) {
                    //     padding: 10px;

                    // }

                    .heading-md {
                        font-weight: 700;
                        color: var(--color-dark-grey);
                    }

                    .content {
                        color: var(--color-grey);
                        margin: 14px 0;

                        @media (max-width: 992px) {
                            width: 100%;
                            font-size: 12px;
                        }

                    }

                    .know-btn {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .service-logo {
                        width: 52px;
                        height: 52px;
                    }
                }

            }
        }
    }
}
