#diseases-section {
    .main-container {
        .search {
            width: 500px;
            max-width: 100%;
            margin: auto;
            margin-bottom: 40px;
            padding: 0 16px;

            .form-floating {
                position: relative;

                .form-control {
                    border-radius: 50px;
                }

                button {
                    position: absolute;
                    right: 10px;
                    top: 8px;
                    background-color: var(--color-main);
                    color: var(--color-white);
                    border-radius: 50%;
                    text-align: center;
                    border: 0;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        .diseases {
            @media (max-width: 768px) {
                padding: 0 15px;
            }

            .most-searched-terms {
                @media (max-width: 768px) {
                    margin-bottom: 40px;
                }

                ul {
                    margin: 0 -50px;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    padding-right: 5px;
                    overflow: hidden;
                    overflow-y: auto;
                    max-height: 240px;

                    li {
                        width: 50%;
                        padding: 0 50px;
                        font-size: 15px;
                        font-weight: 500;

                        @media (max-width: 768px) {
                            width: 100%;
                        }

                        a {
                            color: var(--color-grey);
                            display: block;
                            padding: 14px 0;
                            border-bottom: 1px dashed var(--border-color);

                            &:hover {
                                color: var(--color-main);
                                border-color: var(--color-main);

                                i {
                                    margin-left: 0;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        span {
                            display: inline-flex;
                            align-items: center;
                            gap: 10px;

                            i {
                                width: 6px;
                                opacity: 0;
                                margin-left: -10px;
                                transition: 0.3s;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }

        .find {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sp-search-letter {
            max-width: 500px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;

            .letter-wrap {
                position: relative;
                width: 16.66%;
                padding: 0 10px;
                margin-bottom: 20px;

                button {
                    display: block;
                    padding-bottom: 100%;
                    position: relative;
                    border: 0;
                    border-radius: 50%;
                    width: 100%;
                    background-color: var(--color-white);

                    span {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        box-shadow: 0 0 22px #ddd;
                        text-align: center;
                        border-radius: 50%;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        text-transform: capitalize;
                        transition: .2s;

                        &:hover {
                            color: #fff;
                            background-color: var(--color-main);
                        }
                    }
                }
            }
        }
    }
}
