#health-wellness {
    .main-container {

        .desktop-blogs {
            color: var(--color-white);
            @media (max-width: 768px) {
                display: none;
            }

            .big-col {
                position: relative;
                border-radius: 25px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;

                }

                .content {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    button {
                        border: none;
                        padding: 10px 15px;
                        border-radius: 25px;
                        background-color: var(--color-main);
                        color: var(--color-white);
                    }
                }
            }

            .small-col {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                border-radius: 25px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .heading-sm {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 16px;

                    button {
                        border: none;
                        padding: 10px 15px;
                        border-radius: 25px;
                        background-color: var(--color-main);
                        color: var(--color-white);
                    }
                }
            }
        }

        .mobile-blog-slide {
            @media (min-width: 769px) {
                display: none;

            }

            .blog-card {
                margin: 15px;
                box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
                height: 100%;
                position: relative;
                border-radius: 25px;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                }

                .heading-sm {
                    color: var(--color-white);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 16px;
                }
            }
        }
    }
}
