footer {
    padding-bottom: 90px;

    .footer-top {
        .main-container {
            padding: 0 20px;

            .footer-row {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;

                .footer-block:not(.active) ul {
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }

                .footer-block {
                    width: 20%;
                    flex: 0 0 20%;
                    padding: 0 10px;
                    color: var(--color-grey);


                    @media screen and (max-width: 991px) {
                        width: 100%;
                        flex: 0 0 100%;
                        margin-bottom: -1px;
                    }

                    .active {
                        ul {
                            display: block !important;

                        }
                    }

                    .block-title {
                        font-size: 24px;
                        margin: 0 0 20px;
                        color: var(--text);
                        font-weight: 600;
                        position: relative;

                        @media (max-width: 991px) {
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                translate: -50% -50%;
                                height: 8px;
                                width: 8px;
                                border-right: 3px solid currentColor;
                                border-bottom: 3px solid currentColor;
                                transform: rotate(45deg);
                                pointer-events: none;
                                border-radius: 1px;
                            }
                        }



                        @media screen and (max-width: 991px) {
                            font-size: 15px;
                            margin: 0;
                            padding: 15px 50px 15px 0;
                            border-top: 1px solid #dadada;
                            border-bottom: 1px solid #dadada;
                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;


                        @media screen and (max-width: 991px) {
                            // display: none;
                            padding-bottom: 10px;
                            // &:not(.active) {
                            //     display: none;
                            // }
                        }

                        li {
                            list-style: none;
                            padding: 5px 0;
                            color: var(--color-grey);
                            margin: 0 0 10px;
                            font-size: 14px;

                            @media screen and (max-width: 1599px) {
                                font-size: 12px;
                            }

                            a {
                                display: block;
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 20px;

        .copyright {
            margin-top: 20px;
            font-size: 12px;
        }
    }
}
