.events-news {
    background-color: var(--secondary-white);
    font-size: 14px;
    font-weight: 600;
    padding: 50px 0;
    @media (max-width:768px) {
        padding-bottom: 100px;
    }

    .main-container {
        position: relative;

        .heading {
            margin-bottom: 30px;
        }

        .common-button {
            position: absolute;
            right: 20px;
            top: 10px;

            @media (max-width: 768px) {
                top: initial;
                right: initial;
                bottom: -40px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            @media (max-width:480px) {
                width: 100%;
            }
        }

        .post-card {
            background-color: var(--color-white);
            border-radius: 20px;
            @media (max-width: 1199px) {
                display: none;
            }

            flex: 1;
            img {
                border-radius: 20px;
                width: 100%;
                object-fit: cover;
            }
            .post {}

            .body {
                padding: 30px;
                cursor: pointer;
                .date {
                    color: var(--color-grey);
                    font-weight: 500;
                }

                .content {
                    width: 90%;
                    margin-bottom: 30px;
                    font-weight: 600;
                    padding: 10px 0;
                }

            }
        }

        .post-list {
            flex: 1;

            .list-card {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }

                .list {
                    padding: 0 0 20px;
                    display: grid;
                    gap: 20px;
                    grid-template-columns: 20% 80%;
                    align-items: center;

                    .date {
                        font-weight: 500;
                    }
                }
            }
        }

        .events {
            flex: 1;
            padding: 30px;
            overflow: scroll;
            border-radius: 20px;
            background-color: var(--color-white);
            height: 550px;

            @media (min-width: 1024px) and (max-width: 1366px) {
                height: 470px;
            }

            @media (max-width: 1023px) {
                height: auto;
                overflow: visible;
            }

            .heading-sm {
                font-weight: 700;
                margin-bottom: 10px;
            }

            .tabs {
                margin: 16px 0;


                li {
                    list-style: none;

                    .active-tab {
                        background-color: var(--color-main);
                        color: var(--color-white);
                    }

                    button {
                        padding: 10px 30px;
                        font-size: 11px;
                        font-weight: 600;
                        border-radius: 50px;
                        border: 1px solid var(--color-black);
                        color: var(--color-dark-grey);
                        background-color: var(--color-white);
                        transition: 0.2s ease;

                        @media (max-width: 480px) {
                            padding: 10px 18px;
                        }

                        &:hover {
                            background-color: var(--color-light-2);
                            color: var(--color-white);
                        }
                    }

                }
            }

            .each-event {
                margin-top: 20px;
                padding: 15px 0;

                .date {
                    padding: 35px 10px;
                    border-radius: 10px;
                    background-color: var(--secondary-white);
                    flex: 1;
                }

                .content {
                    flex: 5;
                }
            }
        }
    }
}
