.employee-section {
    padding: 50px 0;
    background-color: var(--secondary-white);

    .main-container {
        padding: 0 20px;
        .heading {
            padding-bottom: 30px;
            margin: 0;
        }
        .tabs {
            display: flex;
            justify-content: center;
            gap: 20px;

            .tab {
                padding: 14px 14px;
                border: 1px solid var(--color-black);
                border-radius: 35px;
                font-size: 13px;
                cursor: pointer;
                background-color: var(--color-white);
                color: var(--color-grey);
                transition: 0.3s ease;

                &:hover {
                    background-color: var(--color-light-1);
                    color: var(--color-white);
                }
            }

            .active-tab {
                background-color: var(--color-main);
                border: none;
                color: var(--color-white);
            }
        }

        .content-main {
            padding-top: 30px;

            .employee-flex {
                .employee {
                    width: 50%;

                    @media (max-width: 991px) {
                        width: 100%;
                    }

                    .heading-sm {
                        margin-left: 20px;
                    }

                    .employee-slider {
                        .slick-prev {

                            border: none;
                            height: 38px;
                            width: 38px;
                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            border-radius: 50%;
                            background-color: #fff;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            z-index: 99;
                        }

                        .slick-next {
                            border: none;
                            height: 38px;
                            width: 38px;
                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                            border-radius: 50%;
                            background-color: #fff;
                            position: absolute;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            z-index: 99;
                        }

                        .each-card {
                            margin: 0 20px;
                            background-color: var(--color-white);
                            max-width: 375px;
                            height: auto;
                            border-radius: 15px;
                            @media (max-width: 402px) {
                                    margin: 0;
                                }

                            img {
                                border-radius: 15px 15px 0 0;
                                width: 100%;
                                object-fit: cover;
                            }
                            .body {
                                padding: 15px;
                            }
                            .card-content {
                                font-size: 15px;
                                line-height: 24px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: 100px;
                            }
                        }
                    }
                }

                .award {
                    width: 30%;

                    @media (max-width: 991px) {
                        width: 100%;
                        margin-top: 50px;
                    }

                    .heading-sm {
                        margin-left: 20px;
                    }

                    .award-slider {

                        @media (min-width: 992px) {
                            overflow-y: auto;
                            height: 450px;
                            scrollbar-width: none;
                        }

                        .slick-list {
                            padding-bottom: 40px;
                        }

                        .slide-card {
                            max-height: 200px;
                            border-radius: 20px;
                            background-color: #fff;
                            padding: 60px 90px;
                            text-align: center;
                            position: relative;
                            height: 100%;
                            box-shadow: 0 3px 17px rgba(0, 0, 0, .14);
                            margin: 20px 20px;

                            @media (max-width: 991px) {
                                max-height: 100%;
                                margin: 20px;
                            }

                            @media (max-width: 402px) {
                                margin: 0;
                            }

                            .leaf-left {
                                width: 50px;
                                position: absolute;
                                left: 35px;
                                top: 50%;
                                z-index: 1;
                                transform: translateY(-50%);
                                text-align: left;

                                img {
                                    display: inline-block;
                                    height: 100px;
                                }
                            }

                            .vertical {
                                height: 100%;
                                vertical-align: middle;
                            }

                            .year {
                                color: var(--color-main);

                                &::before {
                                    display: inline-block;
                                    background: url('/front/img/award-heading-vector-left.png') center center / 100% no-repeat;
                                    width: 15%;
                                    max-width: 40px;
                                    vertical-align: middle;
                                    height: 25px;
                                    content: "";
                                }

                                &::after {
                                    display: inline-block;
                                    background: url('/front/img/award-heading-vector-right.png') center center / 100% no-repeat;
                                    width: 15%;
                                    max-width: 40px;
                                    vertical-align: middle;
                                    height: 25px;
                                    content: "";
                                }

                            }

                            .leaf-right {
                                width: 50px;
                                position: absolute;
                                right: 35px;
                                top: 50%;
                                z-index: 1;
                                transform: translateY(-50%);
                                text-align: left;

                                img {
                                    display: inline-block;
                                    height: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
