#about-nobel {
   .img-wrap {
      width: 50%;
      padding: 0 15px;

      @media (max-width: 768px) {
         width: 100%;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   .content {
      width: 50%;
      padding: 0 15px;

      @media (max-width: 768px) {
         width: 100%;
      }
   }

   .small-card-wrap {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .small-card {
         padding: 30px;
         border-radius: 20px;
         box-shadow: 0 3px 17px rgba(0, 0, 0, 0.1);
      }
   }
}