//color variables
* {
    --color-main: #f04e30;

    --color-dark-1: #d8462b;
    --color-dark-2: #c03e26;
    --color-dark-3: #a83722;
    --color-dark-4: #902f1d;
    --color-dark-5: #782718;

    --color-light-1: #f26045;
    --color-light-2: #f37159;
    --color-light-3: #f5836e;
    --color-light-4: #f69583;
    --color-light-5: #f8a798;

    --color-black: #000;
    --color-white: #fff;

    --color-grey: #58595B;
    --color-dark-grey: #454545;

    --secondary-white: #f6f6f6;

    --border-color: #b7b7b7;
    --border-color-light: #eee;

    //font variables
    --font-main: 'Montserrat', sans-serif;
}
