#dr-banner {
   @media (min-width: 992px) {
      padding-bottom: 0;
   }
   .content-wrapper {
      .img-container {
         display: flex;
         justify-content: center;
         position: relative;

         &::before {
            width: 70%;
            margin: auto;
            padding-bottom: 70%;
            background-color: var(--color-main);
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            content: '';
            position: absolute;
            right: 0;
            left: 0;
         }

         &::after {
            width: calc(70% + 30px);
            margin: auto;
            padding-bottom: calc(70% + 30px);
            border: 1px dashed var(--border-color);
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            content: '';
            position: absolute;
            right: 0;
            left: 0;
         }

         img {
            position: relative;
            width: 75%;
            position: relative;
            z-index: 1;
            max-width: 100%;
            height: auto;
         }
      }

      .details {
         padding: 20px;
         border-radius: 20px;
         background-color: #fff;
         box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
         font-weight: 600;
         @media (max-width: 991px) {
            width: 100%;
         }
         .name {
            font-weight: 700;
         }
         button {
            padding: 10px 12px;
            border-color: var(--color-main);
            border-radius: 15px;
            background-color: transparent;
            color: var(--color-main);
            transition: 0.2s ease;
            font-size: 14px;
            font-weight: 600;
            i {
               font-size: 16px;
            }
            &:hover {
               background-color: var(--color-main);
               color: var(--color-white);
            }
         }
      }
   }
}