.sub {
    .main-container {
        .heading {
            @media (max-width: 768px) {
                padding: 0 15px;
            }
        }

        .sub-slider {

            .sub-card {
                margin: 15px;
                box-shadow: 0 4px 19px rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                padding: 30px;
                background-color: var(--color-white);
                position: relative;
                height: 250px;
                transition: 0.3s ease;

                &:hover {
                    background-color: var(--color-light-1);
                    color: var(--color-white);
                }

                .img-wrapper {
                    width: 82px;
                    height: 82px;
                    margin: 0 auto 20px;
                    flex-shrink: 0;

                    img {
                        width: 82px;
                        height: 82px;
                        object-fit: contain;
                    }
                }

                .heading-sm {
                    text-align: center;
                }
            }

            .slick-prev {

                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 99;
            }

            .slick-next {
                border: none;
                height: 38px;
                width: 38px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 99;
            }
        }
    }
}
